PORT=3000
ALLOWED_ORIGIN=https://sesqu.github.io

ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_API_BASE=https://api.allegro.pl
ALLEGRO_TOKEN_URL=https://allegro.pl/auth/oauth/token

AMAZON_LWA_CLIENT_ID=
AMAZON_LWA_CLIENT_SECRET=
AMAZON_LWA_REFRESH_TOKEN=
AMAZON_MARKETPLACE_ID=
AMAZON_SP_API_BASE=https://sellingpartnerapi-eu.amazon.com
